doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Contact-us
  body
    .contact-us
      .contact-us__title
        | Contact-us Webpack
      .contact-us__hero
      .contact-us__footer
        a.contact-us__link(href='./')
          | Home
